@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

:root{
   --purple:#1d631c;
   --red:#c0392b;
   --orange:#f39c12;
   --black:#333;
   --white:#fff;
   --light-color:#666;
   --light-white:#ccc;
   --light-bg:#f5f5f5;
   --border:.1rem solid var(--black);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
   --pdfViewer-padding-bottom: 0;
}



*::SELECTION{
    color: #fff;
    background-color: #E50914;
}
		html{
    font-size: 62.5%;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-padding-top:5.5rem;
}






*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

		section{
   	 	padding: 2rem 9%;
		}
		
		body{
			background-color: #000;
		}

header{
    top: 0;
    left:0;
    right:0;
    padding: 1rem 30%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
}


header .logo{
    color: #E50914;
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo i{
    color: #E50914;

}

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: #fff;
}

header .navbar a.active,
header .navbar a:hover{
    color: #fff;
    background: #E50914;
}

@media(max-width: 991px){
    html{
        font-size: 55%;
        
    }
    header{
        padding: 1rem 2rem;
    }
    section{
        padding:2rem;
    }
}
@media(max-width: 768px){
    header .icons #menu-bars{
        display: inline-block;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--black);
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding:1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    header .navbar a{
        display:block;
        padding:1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: var(--red);
    }
    .home .box .content h3{
        font-size:5rem;
    	} 
	}

@media(max-width: 450px){
    html{
        font-size: 50%;
        
    	}   
	}
